<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>








<!--  <ion-button class="mt-8" (click)="printCurrentPosition()">Get Current Co-ordinates</ion-button>-->

  <div class="container">

    <ion-button (click)="checkIn()">Check IN</ion-button>
    <ion-button (click)="checkOut()">Check Out</ion-button>
<!--  <ion-button (click)="performBiometricVerificatin()">perform verification</ion-button>-->
  <ion-button (click)="goToUserDetails()">Dashboard</ion-button>
    <br>
  </div>

  <div *ngIf="authentication">
    <ion-title>
      Authentication success
    </ion-title>
  </div>

</ion-content>
