<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>








<!--  <ion-button class="mt-8" (click)="printCurrentPosition()">Get Current Co-ordinates</ion-button>-->

  <div>
  <ion-label>Latitude : {{position.coords.latitude}}</ion-label>
    <br>
  <ion-label>Longitude : {{position.coords.longitude}}</ion-label>
  </div>
  <div id="container">
  <ion-button (click)="performBiometricVerificatin()">perform verification</ion-button>
  <ion-button (click)="checkAvailable()">check availability</ion-button>
    <br>
    <ion-label class="">{{biometricType}}</ion-label>
  </div>

  <div *ngIf="authentication">
    <ion-title>
      Authentication success
    </ion-title>
  </div>

</ion-content>
